---
import { getCollection } from "astro:content"
import { HeaderPage } from "../../components"
import MainLayout from "../../layouts/MainLayout.astro"
import PoolGrid from "../../components/PoolGrid"

const allPools = await getCollection("pools")
const flatPool = allPools.filter(({ data }) => data.tag === "plat")

const title = "Piscines à fond plat"
const titleText = "La piscine coque idéale pour toute la famille !"
//todo write a description metatag
---

<MainLayout title="Pose et vente piscines coques polyester Bordeaux Gironde">
	<main class="relative overflow-hidden pt-15 lg:pt-20 xl:pt-25">
		<HeaderPage title={title} titleText={titleText} />
		<section
			class="relative z-10 mx-auto my-12.5 max-w-7xl px-4 md:px-8 lg:mt-20 xl:px-9">
			<div class="mb-12 py-7">
				<h2
					class="text-gradient mx-auto text-center text-2xl font-bold leading-tight md:w-4/5 lg:w-2/3 lg:text-4xl lg:leading-tight">
					Personnalisez votre piscine idéale avec nos options de fond et
					d'escaliers
				</h2>
				<p class="mx-auto mt-6 text-center leading-relaxed lg:text-lg">
					La piscine à fond plat offre une profondeur uniforme, ce qui en fait
					l'option la plus courante pour les piscines.
				</p>
			</div>
			<PoolGrid pools={flatPool} />
		</section>
	</main>
</MainLayout>
