---
import MainLayout from '../layouts/MainLayout.astro'

//todo write a description metatag
---

<MainLayout title='Votre devis piscine coque'>
	<h1 class='grid place-items-center h-screen content-center'>
		Contact Page 📇
	</h1>
</MainLayout>
