---
import MainLayout from "../layouts/MainLayout.astro"
import { Contact } from "../components/"
//todo write a description metatag
---

<MainLayout title="Votre devis piscine coque">
	<main>
		<Contact />
	</main>
</MainLayout>
