---
// Component Imports
import MainLayout from "../layouts/MainLayout.astro"
import { Hero, Feature, About, PoolTag } from "../components"

const title = "Installation Piscine coque polyester Bordeaux Gironde 33"
---

<MainLayout title={title}>
	<main>
		<Hero />
		<!-- ===== Small Features Start ===== -->
		<Feature />
		<!-- ===== Small Features End ===== -->
		<About />
		<!-- Pool Tag start -->
		<PoolTag />
		<!-- Pool Tag End -->
	</main>
</MainLayout>
