---
// Component Imports
import MainLayout from "../layouts/MainLayout.astro"
import Button from "../components/Button.astro"
import { Hero, Feature, About } from "../components"

const title = "Installation Piscine coque polyester Bordeaux Gironde 33"
---

<MainLayout title={title}>
	<main>
		<Hero />
		<!-- ===== Small Features Start ===== -->
		<Feature />
		<!-- ===== Small Features End ===== -->
		<About />
	</main>
</MainLayout>
