---
import MainLayout from "../layouts/MainLayout.astro"
import { Link } from "../components/utilities"
import { HeaderPage } from "../components"
import { Icon } from "astro-icon"

const title = "Installation de Votre Piscine"
const titleText =
	"Installation de votre piscine: “prête au bain, en Kit…”, par notre agence Douceur Piscine dans la Gironde. Choisissez la formule d’installation de piscine adaptée à vos envies."
---

<MainLayout>
	<main class="relative overflow-hidden pt-15 lg:pt-20 xl:pt-25">
		<HeaderPage title={title} titleText={titleText} />
		<section class="pb-16 pt-24">
			<div class="mx-auto max-w-7xl px-4 sm:px-6 md:mt-12.5">
				<div
					class="grid grid-cols-1 items-center gap-x-16 gap-y-8 lg:grid-cols-2 xl:gap-x-24">
					<div class="relative md:mb-12">
						<div
							class="aspect-h-4 aspect-w-3 md:aspect-h-9 md:aspect-w-16 lg:aspect-h-1 lg:aspect-w-1">
							<img
								class="h-[80%] w-full rounded-lg object-cover object-bottom md:h-full"
								src="https://images.unsplash.com/photo-1613977257365-aaae5a9817ff?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3687&q=80"
								alt=""
							/>
						</div>

						<div
							class="absolute bottom-14 left-1/2 w-full max-w-xs -translate-x-1/2 px-4 sm:max-w-sm sm:px-0 md:-bottom-12">
							<div class="overflow-hidden rounded bg-white">
								<div class="px-10 py-6">
									<div class="flex items-center">
										<p
											class="text-center font-roboto text-sm font-medium text-primary sm:text-lg">
											Piscines élégantes et durables pour un plaisir sans fin
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="place-self-start">
						<h2
							class="text-gradient text-3xl font-bold leading-tight sm:text-4xl lg:leading-tight">
							Piscine “prête à plonger”
						</h2>
						<p class="mt-6 leading-relaxed">
							Installateurs de piscines monocoques depuis plus de 25 ans, nos
							techniciens s’adaptent à toutes les difficultés (terrain en pente,
							accès difficile). Nous assurons :
						</p>
						<ul>
							<li>
								- Préparation du sol: terrassement et nivellement du radier en
								graviers
							</li>
							<li>
								- Installation de la coque aux dimensions et caractéristiques de
								votre choix grâce à nos camions-grues
							</li>
							<li>
								- Mise en place des équipements techniques: bonde de fond,
								skimmer, pompe et local technique
							</li>
							<li>- Fourniture d'accessoires pour la piscine</li>
						</ul>
						<p class="leading-relaxed">
							Pour les finitions, choisissez parmi: un dallage de piscine
							spécifique (margelles) en carrelage, un revêtement pierre, des
							lames de bois ou en composite.
						</p>
						<p class="text-lg">
							Vous souhaitez créer votre piscine vous-même ?
						</p>
						<Link
							href="/contact"
							text="Nous vous conseillons et vous fournissons les matériaux"
							classes="mt-2 group text-lg"
							icon={{
								name: "ph:caret-right-light",
								side: "right",
								classeSvg: "transition-all group-hover:translate-x-0.5",
							}}
						/>
					</div>
				</div>
			</div>
		</section>
		<!-- second section -->
		<section class="mb-12 py-10 sm:py-16 lg:py-24">
			<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
				<div class="grid gap-y-10 lg:grid-cols-2 lg:gap-10">
					<div>
						<h2
							class="text-gradient text-3xl font-bold leading-tight sm:text-4xl lg:leading-tight">
							Bricoleurs autonomes ? <br />Piscine en Kit
						</h2>
						<p class="text-primary">Une construction de piscine économique.</p>
						<p class="mt-4 leading-relaxed">
							Certains modèles de piscine peuvent être installé à partir d’un
							kit, sans l’intervention de nos piscinistes experts. Il s’agit
							notamment des petits bassins rectangulaires à fond plat, ainsi que
							des nouvelles piscines shooter, piscines avec moquette de détente,
							escaliers latéraux de chaque côté et bloc filtrant.
						</p>
						<p class="leading-relaxed">
							L’installation est simple et rapide et séduira tous les amateurs
							de bricolage et du “do it yourself” (faites-le vous-même).
						</p>
						<p class="leading-relaxed">
							Comme pour la formule de piscine “prête au bain“, cette formule en
							kit comprend l’équipement de filtration, les buses de refoulement,
							etc…
						</p>
						<p class="leading-relaxed">
							Il existe aussi la formule d’installation semi-kit qui comprend la
							livraison jusqu’à la mise en service.
						</p>
						<p>
							D’autres options sont disponibles à la carte.
							<Link
								href="/contact"
								text="renseignez-vous"
								classes="mt-2 pl-2 group text-lg"
								icon={{
									name: "ph:caret-right-light",
									side: "right",
									classeSvg: "transition-all group-hover:translate-x-0.5",
								}}
							/>
						</p>
					</div>

					<div class="mb-8 pl-12 sm:pl-0">
						<div class="relative mb-12 max-w-lg">
							<div class="aspect-h-9 aspect-w-16">
								<img
									class="rounded-lg object-cover object-center"
									src="/images/piscine-installation-01.jpeg"
									alt=""
								/>
							</div>

							<img
								class="absolute -bottom-[150px] origin-bottom-right scale-75 rounded-lg object-cover object-right md:-right-[150px] lg:-bottom-[200px] lg:-right-14"
								src="/images/piscine-installation-02.jpeg"
								alt=""
							/>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- third section -->
		<section class="py-16 lg:py-24">
			<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
				<div class="grid items-stretch gap-y-10 lg:grid-cols-2 lg:gap-x-10">
					<div
						class="relative order-last mt-10 grid grid-cols-1 gap-6 lg:order-first lg:mt-0 lg:grid-cols-2">
						<div
							class="aspect-h-9 aspect-w-16 overflow-hidden rounded-lg lg:aspect-h-4 lg:aspect-w-3">
							<img
								class="object-cover"
								src="/images/piscine-chantier-finish.jpeg"
								alt=""
							/>
						</div>

						<div class="relative order-first lg:order-last">
							<div
								class="aspect-h-9 aspect-w-16 h-full overflow-hidden rounded-lg lg:aspect-h-4 lg:aspect-w-3">
								<img
									class="w-full object-cover object-left-bottom"
									src="/images/chantier-piscine.jpeg"
									alt=""
								/>
							</div>

							<div
								class="absolute inset-0 grid h-full w-full place-items-center">
								<button
									type="button"
									class="show-modal inline-flex items-center gap-6.5">
									<span
										class="relative z-1 flex h-12.5 w-12.5 items-center justify-center rounded-full bg-primary text-white">
										<span
											class="absolute -z-1 inline-flex h-full w-full animate-ping rounded-full bg-primary opacity-50"
										></span>
										<Icon name="ic:baseline-play-arrow" width="38" alt="Play" />
									</span>
								</button>
								<!-- modal start -->
								<div
									class="modal close-modal fixed left-0 top-0 z-999 hidden h-screen w-full items-center justify-center bg-black bg-opacity-50">
									<div class="flex w-3/4 max-w-4xl animate-slidetop flex-col">
										<div class="flex items-center justify-end pb-3">
											<button
												class="close-modal mr-1 rounded bg-black px-3 py-1 text-white">
												<Icon name="maki:cross" width="24" />
											</button>
										</div>
										<div
											class="aspect-h-9 aspect-w-16 rounded-lg border border-black">
											<iframe
												src="https://www.youtube.com/embed/OrY60z6UVAE"
												class="rounded-lg shadow-lg"
												title="YouTube video player"
												allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
												allowfullscreen>
											</iframe>
										</div>
									</div>
								</div>
								<!-- modal end -->
							</div>
						</div>
					</div>

					<div class="flex flex-col items-start">
						<h2
							class="text-gradient text-3xl font-bold leading-tight sm:text-4xl lg:leading-tight">
							Processus d'installation de piscine : <br /> étapes clés avec Douceur
							Piscine
						</h2>
						<p class="text-primary">
							Nos équipes prennent en charge l’installation complète de votre
							piscine
						</p>
						<p class="mt-4 leading-relaxed">
							Notre entreprise Douceur Piscine se charge de l'installation
							complète de votre piscine dans la région de Bordeaux et du bassin
							d'Arcachon (33). Le déroulement du chantier se divise en plusieurs
							étapes :
						</p>
						<ul>
							<li>- Préparation du terrain pour une installation optimale</li>
							<li>
								- Travaux de plomberie et d'électricité pour une utilisation
								sécurisée
							</li>
							<li>
								- Construction de la piscine, que ce soit une piscine coque ou
								piscine creusée en béton
							</li>
							<li>
								- Installation du revêtement extérieur pour une finition
								esthétique
							</li>
							<li>- Remplissage en eau pour une mise en service rapide</li>
							<li>
								- Installation des équipements annexes tels que les pompes,
								filtres et chauffages pour un confort optimal
							</li>
						</ul>
						<p class="mt-4 leading-relaxed">
							Chez Douceur Piscine, nous mettons tout en œuvre pour que votre
							projet de piscine soit une réussite, de l'installation à
							l'entretien.
						</p>
						<p>
							Besoin d'informations sur nos installations de piscines ?
							<Link
								href="contact"
								text="Contactez-nous"
								classes="mt-4 group text-lg"
								icon={{
									name: "ph:caret-right-light",
									side: "right",
									classeSvg: "transition-all group-hover:translate-x-1",
								}}
							/>
						</p>
					</div>
				</div>
			</div>
		</section>

		<!-- fourth section  -->
		<section class="pb-32 pt-16">
			<div class="mx-auto max-w-7xl px-4 sm:px-6 md:mt-12.5">
				<div
					class="grid grid-cols-1 items-center gap-x-16 gap-y-8 lg:grid-cols-2 xl:gap-x-24">
					<div class="relative order-last md:mb-12">
						<div class="aspect-h-2 aspect-w-3 md:aspect-h-9 md:aspect-w-16">
							<img
								class="w-full rounded-lg object-cover object-top"
								src="/images/grutage-piscine.jpeg"
								alt=""
							/>
						</div>

						<div
							class="absolute -bottom-17 left-1/2 w-full max-w-xs -translate-x-1/2 px-4 sm:max-w-sm sm:px-0 md:-bottom-20">
							<div class="overflow-hidden rounded bg-white">
								<div class="px-10 py-6">
									<div class="flex items-center">
										<p
											class="text-center font-roboto text-sm font-medium text-primary sm:text-lg">
											Nous accédons aux travaux dans des zones compliquées à
											l’aide de grues.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="place-self-start">
						<h2
							class="text-gradient text-3xl font-bold leading-tight sm:text-4xl lg:leading-tight">
							Un accès compliqué ? <br />
							Nous nous occupons du grutage de votre piscine
						</h2>
						<p class="mt-6 leading-relaxed">
							L’installation de votre piscine peut parfois être retardée par une
							localisation difficile d’accès. Nous procéderons à un grutage afin
							d’accéder aux travaux quel que soit l’espace où ils sont situés.
						</p>
						<p>
							Le grutage est une pratique qui utilise une grue pour soulever des
							machines ou des matériaux lourds et les déplacer à un endroit
							spécifique, souvent difficile d’accès.
						</p>
						<p>
							Le grutage est souvent la seule option pour installer une piscine
							dans un espace restreint ou isolé.
						</p>
						<Link
							href="/contact"
							text="Des questions sur l’accessibilité de votre lieu"
							classes="mt-2 group text-lg"
							icon={{
								name: "ph:caret-right-light",
								side: "right",
								classeSvg: "transition-all group-hover:translate-x-0.5",
							}}
						/>
					</div>
				</div>
			</div>
		</section>
	</main>
</MainLayout>
