---
import MainLayout from "../layouts/MainLayout.astro"
import { Link } from "../components/utilities"
import { HeaderPage } from "../components"
import { Icon } from "astro-icon"

const title = "Installation de Votre Piscine"
const titleText =
	"Installation de votre piscine: “prête au bain, en Kit…”, par notre agence Douceur Piscine dans la Gironde. Choisissez la formule d’installation de piscine adaptée à vos envies."
---

<MainLayout>
	<main class="relative overflow-hidden pt-15 lg:pt-20 xl:pt-25">
		<HeaderPage title={title} titleText={titleText} />
		<section class="py-16">
			<div class="mx-auto max-w-7xl px-4 sm:px-6 md:mt-12.5">
				<div
					class="grid grid-cols-1 items-center gap-x-16 gap-y-8 lg:grid-cols-2 xl:gap-x-24">
					<div class="relative md:mb-12">
						<div
							class="aspect-h-4 aspect-w-3 md:aspect-h-9 md:aspect-w-16 lg:aspect-h-1 lg:aspect-w-1">
							<img
								class="h-[80%] w-full rounded-lg object-cover object-bottom md:h-full"
								src="https://images.unsplash.com/photo-1613977257365-aaae5a9817ff?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3687&q=80"
								alt=""
							/>
						</div>

						<div
							class="absolute bottom-14 left-1/2 w-full max-w-xs -translate-x-1/2 px-4 sm:max-w-sm sm:px-0 md:-bottom-12">
							<div class="overflow-hidden rounded bg-white">
								<div class="px-10 py-6">
									<div class="flex items-center">
										<p
											class="text-center font-roboto text-sm font-medium text-accent sm:text-lg">
											Piscines élégantes et durables pour un plaisir sans fin
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="place-self-start">
						<h2
							class="text-gradient text-3xl font-bold leading-tight sm:text-4xl lg:leading-tight">
							Modèle de piscine “prête à plonger”
						</h2>
						<p class="mt-6 text-lg leading-relaxed">
							Installateurs de piscines monocoques depuis plus de 25 ans, nos
							techniciens s’adaptent à toutes les difficultés (terrain en pente,
							accès difficile). Nous assurons :
						</p>
						<ul>
							<li>
								- Préparation du sol : terrassement et nivellement du radier en
								graviers
							</li>
							<li>
								- Installation de la coque aux dimensions et caractéristiques de
								votre choix grâce à nos camions-grues
							</li>
							<li>
								- Mise en place des équipements techniques : bonde de fond,
								skimmer, pompe et local technique
							</li>
							<li>- Fourniture d'accessoires pour la piscine</li>
						</ul>
						<p>
							Pour les finitions, choisissez parmi: un dallage de piscine
							spécifique (margelles) en carrelage, un revêtement pierre, des
							lames de bois ou en composite.
						</p>
						<p class="text-lg">
							Vous souhaitez créer votre piscine vous-même ?
						</p>
						<Link
							href="/contact"
							text="Nous vous conseillons et vous fournissons les matériaux"
							classes="mt-2 group text-lg"
							icon={{
								name: "ph:caret-right-light",
								side: "right",
								classeSvg: "transition-all group-hover:translate-x-0.5",
							}}
						/>
					</div>
				</div>
			</div>
		</section>
		<!-- second section -->
		<section class="mb-12 py-10 sm:py-16 lg:py-24">
			<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
				<div class="grid gap-y-10 lg:grid-cols-2 lg:gap-10">
					<div>
						<h2
							class="text-gradient text-3xl font-bold leading-tight sm:text-4xl lg:leading-tight">
							Bricoleurs autonomes ? <br /> La Formule de piscine en Kit
						</h2>
						<p class="mt-4">Une construction de piscine économique.</p>
						<p class="leading-relaxed">
							Certains modèles de piscine peuvent être installé à partir d’un
							kit, sans l’intervention de nos piscinistes experts. Il s’agit
							notamment des petits bassins rectangulaires à fond plat, ainsi que
							des nouvelles piscines shooter, piscines avec moquette de détente,
							escaliers latéraux de chaque côté et bloc filtrant.
						</p>
						<p>
							L’installation est simple et rapide et séduira tous les amateurs
							de bricolage et du “do it yourself” (faites-le vous-même).
						</p>
						<p>
							Comme pour la formule de piscine “prête au bain“, cette formule en
							kit comprend l’équipement de filtration, les buses de refoulement,
							etc…
						</p>
						<p>
							Il existe aussi la formule d’installation semi-kit qui comprend la
							livraison jusqu’à la mise en service.
						</p>
						<p>
							D’autres options sont disponibles à la carte.
							<Link
								href="/contact"
								text="renseignez-vous"
								classes="mt-2 pl-2 group text-lg"
								icon={{
									name: "ph:caret-right-light",
									side: "right",
									classeSvg: "transition-all group-hover:translate-x-0.5",
								}}
							/>
						</p>
					</div>

					<div class="mb-8 pl-12 sm:pl-0">
						<div class="relative mb-12 max-w-lg">
							<div class="aspect-h-9 aspect-w-16">
								<img
									class="rounded-lg object-cover object-center"
									src="/images/piscine-installation-01.jpeg"
									alt=""
								/>
							</div>

							<img
								class="absolute -bottom-[150px] origin-bottom-right scale-75 rounded-lg object-cover object-right md:-right-[150px] lg:-bottom-[200px] lg:-right-14"
								src="/images/piscine-installation-02.jpeg"
								alt=""
							/>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- third section -->
		<section class="bg-gray-50 py-10 sm:py-16 lg:py-24">
			<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
				<div class="grid items-stretch gap-y-10 md:grid-cols-2 md:gap-x-20">
					<div
						class="relative mt-10 grid grid-cols-1 gap-6 md:mt-0 md:grid-cols-2">
						<div
							class="aspect-h-9 aspect-w-16 overflow-hidden rounded-lg md:aspect-h-4 md:aspect-w-3">
							<img
								class="origin-top scale-150 object-cover object-top"
								src="https://cdn.rareblocks.xyz/collection/celebration/images/features/2/team-work.jpg"
								alt=""
							/>
						</div>

						<div class="relative">
							<div
								class="aspect-h-9 aspect-w-16 h-full overflow-hidden rounded-lg md:aspect-h-4 md:aspect-w-3">
								<img
									class="w-full scale-150 object-cover lg:origin-bottom-right"
									src="https://cdn.rareblocks.xyz/collection/celebration/images/features/2/woman-working-on-laptop.jpg"
									alt=""
								/>
							</div>

							<div
								class="absolute inset-0 grid h-full w-full place-items-center">
								<button
									type="button"
									class="text-blue-600 inline-flex h-12 w-12 items-center justify-center rounded-full bg-white shadow-md lg:h-20 lg:w-20">
									<svg
										class="h-6 w-6 lg:h-8 lg:w-8"
										xmlns="http://www.w3.org/2000/svg"
										viewBox="0 0 24 24"
										fill="currentColor">
										<path
											d="M8 6.82v10.36c0 .79.87 1.27 1.54.84l8.14-5.18c.62-.39.62-1.29 0-1.69L9.54 5.98C8.87 5.55 8 6.03 8 6.82z"
										></path>
									</svg>
								</button>
							</div>
						</div>

						<div class="absolute -top-16 left-1/2 -translate-x-1/2">
							<img
								class="h-32 w-32"
								src="https://cdn.rareblocks.xyz/collection/celebration/images/features/2/round-text.png"
								alt=""
							/>
						</div>
					</div>

					<div class="flex flex-col items-start xl:px-16">
						<h2
							class="text-gradient text-3xl font-bold leading-tight sm:text-4xl lg:leading-tight">
							Bricoleurs autonomes ? La Formule de piscine en Kit
						</h2>
						<p class="mt-4">Une construction de piscine économique.</p>
						<p class="leading-relaxed">
							Certains modèles de piscine peuvent être installé à partir d’un
							kit, sans l’intervention de nos piscinistes experts. Il s’agit
							notamment des petits bassins rectangulaires à fond plat, ainsi que
							des nouvelles piscines shooter, piscines avec moquette de détente,
							escaliers latéraux de chaque côté et bloc filtrant.
						</p>

						<a
							href="#"
							title=""
							class="from-fuchsia-600 to-blue-600 mt-8 inline-flex items-center justify-center rounded-md bg-gradient-to-r px-5 py-4 text-base font-semibold text-white transition-all duration-200 hover:opacity-90 focus:opacity-90 lg:mt-auto"
							role="button">
							Get started now
							<svg
								class="-mr-1 ml-8 h-5 w-5"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
								fill="currentColor">
								<path
									fill-rule="evenodd"
									d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
									clip-rule="evenodd"></path>
							</svg>
						</a>
					</div>
				</div>
			</div>
		</section>
	</main>
</MainLayout>
