---
import { getCollection } from "astro:content"
import { HeaderPage } from "../components"
import MainLayout from "../layouts/MainLayout.astro"
import PoolGrid from "../components/PoolGrid"

const allPools = await getCollection("pools")

const title =
	"Explorez nos piscines coque aux formes, tailles et styles variés pour des moments inoubliables."
const titleText =
	" Votre évasion estivale vous attend : découvrez nos modèles de piscines, le coup de cœur est à portée de main..."
//todo write a description metatag
---

<MainLayout title="Pose et vente piscines coques polyester Bordeaux Gironde">
	<main class="relative overflow-hidden pt-15 lg:pt-20 xl:pt-25">
		<HeaderPage title={title} titleText={titleText} />
		<section
			class="relative z-10 mx-auto my-12.5 max-w-7xl px-4 md:px-8 lg:mt-20 xl:px-9">
			<div class="mb-12 py-7">
				<h2
					class="text-gradient text-2xl font-bold leading-tight md:w-4/5 lg:w-2/3 lg:text-4xl lg:leading-tight">
					Personnalisez votre piscine idéale avec nos options de fond et
					d'escaliers
				</h2>
				<p class="mt-6 leading-relaxed lg:text-lg">
					La piscine à fond plat offre une profondeur uniforme, ce qui en fait
					l'option la plus courante pour les piscines.
				</p>
				<p class="leading-relaxed lg:text-lg">
					La piscine à fond incliné, également appelée piscine à fond
					progressif, présente une profondeur qui varie en douceur, créant une
					pente légère.
				</p>
				<p class="leading-relaxed lg:text-lg">
					Selon vos préférences (Blue Pearl, Spicy, Lagoon ou Récif),
					personnalisez votre piscine Douceur en sélectionnant les escaliers qui
					vous conviennent le mieux (Virgin, Tropical, Paradise)
				</p>
			</div>
			<PoolGrid pools={allPools} />
		</section>
	</main>
</MainLayout>
