---
import { getEntryBySlug } from "astro:content"
import { HeaderPage } from "../components"
import { Icon } from "astro-icon"
import MainLayout from "../layouts/MainLayout.astro"

const manhattan = await getEntryBySlug("pools", "manhattan")
const lagoon = await getEntryBySlug("pools", "lagoon")

const title =
	"Explorez nos piscines coque aux formes, tailles et styles variés pour des moments inoubliables."
const titleText =
	" Votre évasion estivale vous attend : découvrez nos modèles de piscines, le coup de cœur est à portée de main..."
//todo write a description metatag
---

<MainLayout title="Pose et vente piscines coques polyester Bordeaux Gironde">
	<main class="relative overflow-hidden pt-15 lg:pt-20 xl:pt-25">
		<HeaderPage title={title} titleText={titleText} />
		<section
			class="relative z-10 mx-auto my-12.5 max-w-7xl px-4 md:px-8 lg:mt-20 xl:px-9">
			<div class="mb-12 py-7">
				<h2
					class="text-gradient text-2xl font-bold leading-tight md:w-4/5 lg:w-2/3 lg:text-4xl lg:leading-tight">
					Personnalisez votre piscine idéale avec nos options de fond et
					d'escaliers
				</h2>
				<p class="mt-6 leading-relaxed lg:text-lg">
					La piscine à fond plat offre une profondeur uniforme, ce qui en fait
					l'option la plus courante pour les piscines.
				</p>
				<p class="leading-relaxed lg:text-lg">
					La piscine à fond incliné, également appelée piscine à fond
					progressif, présente une profondeur qui varie en douceur, créant une
					pente légère.
				</p>
				<p class="leading-relaxed lg:text-lg">
					Selon vos préférences (Blue Pearl, Spicy, Lagoon ou Récif),
					personnalisez votre piscine Douceur en sélectionnant les escaliers qui
					vous conviennent le mieux (Virgin, Tropical, Paradise)
				</p>
			</div>
			<div class="grid grid-cols-1 gap-8 md:grid-cols-2">
				<!-- Pool Fond Plat -->
				<div class="animate_top text-center">
					<div
						class="group relative z-1 overflow-hidden rounded-xl bg-gradient-to-t from-black/50 to-black/10">
						<img
							class="w-full mix-blend-overlay"
							src={manhattan.data.url}
							alt="Team"
						/>
						<h4
							class="absolute bottom-0 left-0 right-0 top-0 flex items-center justify-center text-xl text-whiter md:text-title-sm">
							Piscines Fond Plat
						</h4>

						<div
							class="translate-y-25 duration-300 ease-linear group-hover:translate-y-0">
							<span
								class="absolute -bottom-21 -left-5 z-20 block h-37.5 w-[120%] rotate-6 bg-primary"
							></span>
							<span
								class="absolute bottom-0 left-0 z-10 block h-17 w-full bg-secondary"
							></span>
							<div class="absolute bottom-0 left-0 z-30 w-full pb-5 pt-7.5">
								<div class="group/item flex items-center justify-center">
									<a
										href="/modeles-piscines/piscine-a-fond-plat"
										class="font-semibold text-whiter duration-300 ease-in-out group-hover/item:text-secondary">
										Découvrir
									</a>
									<Icon
										name="ic:baseline-keyboard-arrow-right"
										width="24"
										class="text-white duration-300 ease-in-out group-hover/item:translate-x-0.5 group-hover/item:text-secondary"
									/>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Pool Fond Incliné  -->
				<div class="animate_top text-center">
					<div
						class="group relative z-1 overflow-hidden rounded-xl bg-gradient-to-t from-black/50 to-black/10">
						<img
							class="h-full w-full rounded-xl mix-blend-overlay"
							src={lagoon.data.url}
							alt="Team"
						/>
						<h4
							class="absolute bottom-0 left-0 right-0 top-0 flex items-center justify-center text-xl text-whiter md:text-title-sm">
							Piscines Fond Incliné
						</h4>

						<div
							class="translate-y-25 duration-300 ease-linear group-hover:translate-y-0">
							<span
								class="absolute -bottom-21 -left-5 z-20 block h-37.5 w-[120%] rotate-6 bg-primary"
							></span>
							<span
								class="absolute bottom-0 left-0 z-10 block h-17 w-full bg-secondary"
							></span>
							<div class="absolute bottom-0 left-0 z-30 w-full pb-5 pt-7.5">
								<div class="group/item flex items-center justify-center">
									<a
										href="/modeles-piscines/piscine-a-fond-incline"
										class="font-semibold text-whiter duration-300 ease-in-out group-hover/item:text-secondary">
										Découvrir
									</a>
									<Icon
										name="ic:baseline-keyboard-arrow-right"
										width="24"
										class="text-white duration-300 ease-in-out group-hover/item:translate-x-0.5 group-hover/item:text-secondary"
									/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</MainLayout>
