---
import MainLayout from "../layouts/MainLayout.astro"
import { siteParams } from "../data/siteData"
---

<MainLayout>
	<main
		class="mx-auto flex min-h-screen max-w-1390 flex-col gap-12 px-4 py-24 md:pt-45">
		<h1 class="text-3xl text-accent">
			Politique de gestion des cookies de {siteParams.name}
		</h1>
		<div class="flex max-w-3xl flex-col gap-4 text-left">
			<h2 class="text-lg text-accent">Cookies essentiels.</h2>
			<p>
				Ils sont strictement nécessaires à l’utilisation du service et
				permettent l’utilisation des principales fonctionnalités du site, comme
				le cas échéant l’accès à votre compte personnel, ou encore de mémoriser
				les préférences d'affichage de votre terminal (langue, paramètres
				d'affichage) et d'en tenir compte lors de vos visites, selon la charte
				graphique et les logiciels de visualisation ou de lecture de votre
				terminal. Ils peuvent inclure des cookies de réseaux sociaux lorsque
				vous interagissez avec ces derniers. Ils nous permettent aussi de lier
				entre elles les différentes pages consultées pour vous assurer une
				navigation fluide.
			</p>
			<p>Pour paramétrer :</p>
			<p>
				Vous pouvez désactiver complètement les cookies dans votre navigateur.
				Dans ce cas notre site ne fonctionnera plus normalement mais vous
				pourrez quand même effectuer des actions basiques.
			</p>
			<ol>
				<li>
					1/ si vous utilisez le navigateur Internet Explorer<ol>
						<li>
							- Dans Internet Explorer, cliquez sur le bouton « Outils », puis
							sur « Options Internet ».
						</li>
						<li>
							- Sous l’onglet Confidentialité déplacez le curseur vers le haut
							pour bloquer tous les cookies ou vers le bas pour autoriser tous
							les cookies, puis cliquez sur OK.
						</li>
					</ol>
				</li>
				<li>
					2/ si vous utilisez le navigateur Firefox<ol>
						<li>
							- Allez dans le menu « Outils » du navigateur puis sélectionnez le
							menu « Options »
						</li>
						<li>
							- Cliquez sur l’onglet « vie privée », décochez la case « Accepter
							les cookies » puis cliquez sur OK.
						</li>
					</ol>
				</li>
				<li>
					3/ si vous utilisez le navigateur Safari<ol>
						<li>
							- Dans votre navigateur, choisissez le menu « Édition » puis
							sélectionnez « Préférences ».
						</li>
						<li>- Cliquez sur « Confidentialité ».</li>
						<li>
							- Positionnez le réglage « Bloquer les cookies » sur « Toujours »
							puis cliquez sur OK.
						</li>
					</ol>
				</li>
				<li>
					4/ si vous utilisez le navigateur Google Chrome<ol>
						<li>
							- Cliquez sur le menu Chrome dans la barre d'outils du navigateur.
						</li>
						<li>- Cliquez sur « Afficher les paramètres avancés ».</li>
						<li>
							- Dans la section « Confidentialité », cliquez sur le bouton «
							Paramètres de contenu ».
						</li>
						<li>
							- Dans la section « Cookies », sélectionnez « Interdire à tous les
							sites de stocker des données » et cochez la case « Bloquer les
							cookies et les données de site tiers », puis cliquez sur OK.
						</li>
					</ol>
				</li>
			</ol>
		</div>
	</main>
</MainLayout>Ce site a été conçu et réalisé par DevsnWeb
