---
import { TitleSection } from "./utilities"

const { title, titleText } = Astro.props as TitleSection
---

<!-- Bg Shapes -->
<span class="absolute top-0 -z-10 block h-[60vh] w-full bg-whiter py-35"></span>
<img
	src="/images/shape/shape-09.svg"
	alt="Shape"
	class="absolute left-[10%] top-1/2 animate-rotating opacity-50"
/>
<img
	src="/images/shape/shape-10.svg"
	alt="Shape"
	class="absolute left-[20%] top-[20%] opacity-30"
/>
<img
	src="/images/shape/shape-11.svg"
	alt="Shape"
	class="absolute right-[15%] top-[15%] animate-rotating opacity-50"
/>
<img
	src="/images/shape/shape-03.svg"
	alt="Shape"
	class="absolute right-[20%] top-[25%]"
/>
<img
	src="/images/shape/shape-07.svg"
	alt="Shape"
	class="absolute bottom-[10%] right-[5%] w-25"
/>
<img
	src="/images/shape/shape-12.svg"
	alt="Shape"
	class="absolute bottom-0 left-0"
/>
<img
	src="/images/shape/shape-13.svg"
	alt="Shape"
	class="absolute right-0 top-0"
/>

<!-- Section Title Start -->
<div class="z-1 pt-20">
	<TitleSection title={title} titleText={titleText} />

	<!-- Section Title End -->
</div>
