---
import navData from "../data/navData";
import Button from "../components/Button.astro";
import { Icon } from "astro-icon";
---

<nav class="mx-auto bg-slate-200 p-4">
  <div class="container mx-auto flex items-center justify-between">
    <a
      href="/"
      class="z-50 rounded-sm ring-neutral-900 focus:outline-none focus-visible:ring-1 lg:absolute lg:left-1/2 lg:top-9 lg:-translate-x-1/2"
      aria-label="Page principal douceur-piscine"
    >
      <Icon name="logo-douceur-piscine" class="w-16 md:w-24 lg:w-25" />
    </a>
    <button
      id="menu"
      aria-expanded="false"
      aria-label="open menu"
      class="rounded-sm text-neutral-900 ring-neutral-900 ring-offset-2 ring-offset-slate-300 transition-colors hover:text-neutral-400 focus:outline-none focus-visible:ring-1 lg:hidden"
    >
      <svg
        class="h-6 w-6"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>
    <div
      role="menubar"
      class="absolute left-0 right-0 top-16 hidden flex-col items-center gap-4 bg-slate-200 p-6 text-center text-lg shadow-xl lg:static lg:flex lg:w-full lg:flex-row lg:justify-between lg:shadow-none"
    >
      {
        navData.map((link) => (
          <a
            role="menuitem"
            class="rounded-sm px-6 py-1 text-neutral-900 ring-neutral-900 ring-offset-2 ring-offset-slate-300 transition-colors hover:text-neutral-400 focus:outline-none focus-visible:ring-1 dark:text-neutral-900 lg:mr-auto"
            href={link.path}
          >
            {link.name}
          </a>
        ))
      }
    </div>
  </div>
</nav>

<!-- <script>
	const navBtn = document.querySelector('#menu')
	const menuBar = document.querySelector('[role="menubar"]')

	navBtn.addEventListener('click', () => {
		const isExpanded = JSON.parse(navBtn.getAttribute('aria-expanded'))
		// @ts-ignore
		navBtn.setAttribute('aria-expanded', !isExpanded)
		menuBar.classList.toggle('hidden')
		menuBar.classList.toggle('flex')
	})
</script> -->
