---
---

<!-- ===== Hero Start ===== -->
<section
	class="relative overflow-hidden pb-20 pt-35 md:pt-40 lg:pb-30 xl:pt-52">
	<!-- Hero Images -->
	<div
		class="absolute top-0 -z-1 h-full w-full overflow-visible bg-[url('./images/hero/bg-image.png')] bg-cover bg-top bg-no-repeat md:hidden">
	</div>
	<div
		class="absolute right-0 top-0 hidden h-auto w-1/2 md:block 2xl:h-171.5 2xl:w-187.5">
		<img
			src="./images/hero/hero.png"
			alt="Woman"
			class="absolute right-0 top-0 z-1"
		/>
	</div>

	<!-- Hero Content -->
	<div class="mx-auto max-w-1390 px-4 md:px-8 2xl:px-0">
		<div class="flex flex-col lg:items-start">
			<div class="animate_left slide-in md:w-1/2">
				<h1
					class="md:title-gradient mb-6 text-3xl font-semibold text-white lg:text-4xl xl:text-title-xxl">
					Douceur Piscine, Expert <br />
					<span class="text-5xl font-thin lg:text-8xl"
						>Piscine Coque Polyester</span
					>
				</h1>
				<p class="text-whiten md:text-body xl:w-[79%]">
					Transformez votre jardin en oasis avec notre sélection de piscines
					coques.
				</p>
				<p class="text-whiten md:text-body xl:w-[79%]">
					Nous intervenons du Bassin d'Arcachon jusqu'au Médoc et dans
					l'ensemble de la côte ouest jusqu'à Langon.
				</p>
			</div>
			<div class="mt-10 flex flex-col-reverse gap-7.5 md:flex-row">
				<a
					href="#"
					class="inline-flex w-fit rounded-full bg-primary px-7.5 py-3 font-medium leading-7 text-white duration-300 ease-in-out hover:shadow-1"
					>NOS MODELES DE PISCINES</a
				>

				<span class="flex flex-col">
					<a
						href="#support"
						class="inline-block text-lg font-medium text-white hover:text-primary md:text-black">
						OBTENIR UN DEVIS
					</a>
					<span class="inline-block text-whiten md:text-body"
						>Ou pour toute demande de renseignements
					</span>
				</span>
			</div>
		</div>
	</div>
</section>
<!-- ===== Hero End ===== -->
