---
// Data import
import navData from "../data/navData"
import Button from "../components/Button.astro"
import { Icon } from "astro-icon"
---

<header
	class="fixed left-0 top-0 z-20 w-full border-b border-stroke/5 bg-white/30 backdrop-blur-sm">
	<div
		class="container mx-auto flex flex-wrap items-center justify-between p-4">
		<a href="/" class="flex items-center">
			<Icon
				name="logo-color"
				class="mr-3 h-12 sm:h-18 lg:h-20"
				alt="Douceur Piscine Logo"
			/>
		</a>
		<div class="flex lg:order-2">
			<a
				href="/contact"
				class="flex items-center justify-center rounded-full bg-primary px-4 py-2 text-regular text-white transition duration-300 hover:scale-95 focus:outline-none focus:ring-2 focus:ring-accent"
				>Contact</a
			>
			<button
				id="menu"
				aria-expanded="false"
				aria-label="open menu"
				class="focus:ring-gray-200 ml-3 inline-flex items-center rounded-lg p-2 text-sm text-accent focus:outline-none focus:ring-2 focus:ring-accent lg:hidden">
				<svg
					class="h-8 w-8"
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke="currentColor">
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M4 6h16M4 12h16m-7 6h7"></path>
				</svg>
			</button>
		</div>
		<div
			role="menubar"
			class="hidden w-full animate-slideleft items-center justify-between lg:order-1 lg:flex lg:w-auto">
			<ul
				class="mt-4 flex flex-col rounded-lg border border-stroke/10 bg-whiten p-4 font-medium lg:mt-0 lg:flex-row lg:space-x-8 lg:border-0 lg:bg-transparent lg:p-0"
				id="dropdown">
				{
					navData.map(link => (
						<a
							href={link.path}
							class="hover:text-primary  block rounded py-2  pl-3  pr-4 lg:p-0"
							data-navlink>
							{link.name}
						</a>
					))
				}
				<!-- <li>
					<a
						href='#'
						class='block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500'
						aria-current='page'>Home</a
					>
				</li> -->

				<!-- <li>
					<a
						href='#'
						class='block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700'
						>Contact</a
					>
				</li> -->
			</ul>
		</div>
	</div>
</header>

<script>
	const navBtn = document.getElementById("menu")
	const menuBar = document.querySelector('[role="menubar"]')
	const header = document.querySelector("header")

	window.addEventListener("scroll", () => {
		const isScrolled = window.pageYOffset > 20
		console.log(isScrolled)
		header.classList.toggle("bg-black shadow !py-4", !isScrolled)
	})

	navBtn.addEventListener("click", () => {
		menuBar.classList.toggle("hidden")
	})
</script>
