---
import { TitleSection, Caroussel } from "./utilities/"

import testimonials from "../data/testimonials"
---

<section id="realisation" class="pb-20 lg:pb-25">
	<!-- Section Title Start -->
	<TitleSection
		title={"Piscines réalisées en Gironde - Découvrez nos projets chez nos clients satisfaits."}
		titleText={"Transformez votre espace extérieur : Inspirez-vous de nos réalisations de piscines sur mesure en Gironde pour créer votre coin de paradis aquatique."}
		headerLevel="h2"
	/>
	<!-- Section Title End -->
	<div class="mx-auto max-w-1390 px-4 md:px-8 xl:px-30">
		<div class="animate_top mt-12.5 xl:mt-17.5">
			<!-- Slides -->
			<Caroussel slides={testimonials} client:load />
		</div>
	</div>
</section>
