---
import { TitleSection, Caroussel } from "./utilities/"

import testimonials from "../data/testimonials"
---

<section id="realisation" class="pb-20 lg:pb-25">
	<!-- Section Title Start -->
	<TitleSection
		title={"Client’s Testimonials"}
		titleText={"It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using."}
		headerLevel="h2"
	/>
	<!-- Section Title End -->
	<div class="mx-auto max-w-1390 px-4 md:px-8 xl:px-30">
		<div class="animate_top mt-12.5 xl:mt-17.5">
			<!-- Slides -->
			<Caroussel slides={testimonials} client:load />
		</div>
	</div>
</section>
