---
//todo  refacto the form input into input component
interface Props {
	textProject?: string
}
const { textProject = "" } = Astro.props
---

<form action="/" method="POST" data-netlify="true" netlify-honeypot="bot-field">
	<p class="hidden">
		<label
			>Don’t fill this out if you're human: <input name="bot-field" /></label
		>
	</p>
	<div
		class="mb-12 mt-7.5 flex flex-col gap-12 lg:flex-row lg:justify-between lg:gap-10">
		<div class="relative w-full lg:w-1/2">
			<input
				type="text"
				name="fullname"
				id="fullname"
				placeholder="Nom Prénom"
				required
				class="peer w-full rounded-lg border border-strokedark bg-transparent px-6 py-3.5 font-semibold text-blacksection placeholder-transparent shadow-4 focus:border-primary focus:shadow-5 focus-visible:outline-none"
			/>
			<label
				class="absolute -top-5 left-2 mb-4 -translate-y-1/2 font-semibold uppercase transition-all peer-placeholder-shown:left-4 peer-placeholder-shown:top-1/2 peer-focus:-top-5 peer-focus:left-2"
				for="fullname">Nom Prénom *</label
			>
		</div>

		<div class="relative w-full lg:w-1/2">
			<input
				type="email"
				name="email"
				id="email"
				placeholder="example@gmail.com"
				required
				class="peer w-full rounded-lg border border-strokedark bg-transparent px-6 py-3.5 font-semibold text-blacksection placeholder-transparent shadow-4 focus:border-primary focus:shadow-5 focus-visible:outline-none"
			/>
			<label
				class="absolute -top-5 left-2 mb-4 -translate-y-1/2 font-semibold uppercase transition-all peer-placeholder-shown:left-4 peer-placeholder-shown:top-1/2 peer-focus:-top-5 peer-focus:left-2"
				for="email">Adresse Email *</label
			>
		</div>
	</div>
	<div class="relative mb-12 mt-7.5 w-full">
		<input
			type="text"
			id="subject"
			placeholder="Type your subject"
			required
			class="peer w-full rounded-lg border border-strokedark bg-transparent px-6 py-3.5 font-semibold text-blacksection placeholder-transparent shadow-4 focus:border-primary focus:shadow-5 focus-visible:outline-none"
		/>
		<label
			class="absolute -top-5 left-2 mb-4 -translate-y-1/2 font-semibold uppercase transition-all peer-placeholder-shown:left-4 peer-placeholder-shown:top-1/2 peer-focus:-top-5 peer-focus:left-2"
			for="subject">Adresse et Ville de votre projet *</label
		>
	</div>

	<div
		class="my-7.5 flex flex-col gap-12 lg:flex-row lg:justify-between lg:gap-10">
		<div class="relative w-full lg:w-1/2">
			<input
				type="text"
				name="phone"
				id="phone"
				placeholder="+009 3342 3432"
				required
				class="peer w-full rounded-lg border border-strokedark bg-transparent px-6 py-3.5 font-semibold text-blacksection placeholder-transparent shadow-4 focus:border-primary focus:shadow-5 focus-visible:outline-none"
			/>
			<label
				class="absolute -top-5 left-2 mb-4 -translate-y-1/2 font-semibold uppercase transition-all peer-placeholder-shown:left-4 peer-placeholder-shown:top-1/2 peer-focus:-top-5 peer-focus:left-2"
				for="phone">Téléphone *</label
			>
		</div>

		<div class="relative w-full lg:w-1/2">
			<select
				class="block w-full appearance-none rounded-lg border border-strokedark bg-transparent px-6 py-3.5 font-semibold leading-tight shadow-4 focus:border-primary focus:shadow-5 focus-visible:outline-none"
				id="type-projet"
				name="type-projet">
				<option class="font-semibold">Projet...</option>
				<option value="1">Piscine en Kit</option>
				<option value="2">Piscine en Kit assisté</option>
				<option value="3">Prêt au bain</option>
				<option value="4">SPA</option>
				<option value="5">Ne sait pas</option>
			</select>
			<div
				class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2">
				<svg
					class="h-4 w-4 fill-current"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 20 20"
					><path
						d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
					></path></svg
				>
			</div>
		</div>
	</div>

	<div class="relative mt-14">
		<textarea
			placeholder="Message"
			rows="4"
			name="message"
			id="message"
			required
			class="peer w-full resize-none rounded-lg border border-strokedark bg-transparent p-6 font-semibold text-blacksection placeholder-transparent shadow-4 focus:border-primary focus:shadow-5 focus-visible:outline-none"
			>{textProject}</textarea
		>
		<label
			class="absolute -top-3 left-2 mb-4 -translate-y-1/2 font-semibold transition-all peer-placeholder-shown:left-4 peer-placeholder-shown:top-8 peer-focus:-top-5 peer-focus:left-2"
			for="message"
			>Posez vos questions ou précisez les détails de votre projet.*
		</label>
	</div>
	<div class="mb-10 mt-1">
		<input
			class="form-check-input"
			type="checkbox"
			value=""
			id="invalidCheck"
			required
		/>
		<label class="text-sm" for="invalidCheck">
			* Champs obligatoires. En cochant cette case, j'accepte les conditions
			particulières ci-dessous.
		</label>
		<div data-netlify-recaptcha="true"></div>
	</div>

	<div class="flex justify-center">
		<button
			class="inline-flex rounded-full bg-primary px-7.5 py-3 text-white duration-300 ease-in-out hover:shadow-1"
			>Envoyer
		</button>
	</div>
	<div class="form-check mt-14">
		<div class="mt-8 text-xs">
			Les données personnelles communiquées sont nécessaires aux fins de vous
			contacter. Elles sont destinées à Douceur Piscine et ses sous-traitants.
			Vous disposez de droits d’accès, de rectification, d’effacement, de
			portabilité, de limitation, d’opposition, de retrait de votre consentement
			à tout moment et du droit d’introduire une réclamation auprès d’une
			autorité de contrôle, ainsi que d’organiser le sort de vos données
			post-mortem. Vous pouvez exercer ces droits par voie postale à l'adresse
			572 Avenue de Boulac 33127 Saint-Jean-d'Illac, ou par courrier
			électronique à l'adresse contact@couleurpiscine.com. Un justificatif
			d'identité pourra vous être demandé. Nous conservons vos données pendant
			la période de prise de contact puis pendant la durée de prescription
			légale aux fins probatoires et de gestion des contentieux. Si vous ne
			souhaitez pas faire l’objet de prospection commerciale par voie
			téléphonique, vous pouvez gratuitement vous inscrire sur une liste
			d’opposition au démarchage téléphonique (Bloctel) sur le site internet
			www.bloctel.gouv.fr , étant précisé que l’inscription sur ladite liste
			n’est pas opposable au professionnel en cas de relations contractuelles
			préexistantes.
		</div>
	</div>
</form>
