---
import MainHead from "./MainHead.astro"
import "../styles/global.css"
import { Navbar, Footer } from "../components/"

const { title, description } = Astro.props
---

<html lang="fr">
	<MainHead {title} {description} />
	<body>
		<Navbar />
		<slot />
		<Footer />
		<script>
			import { animateLoading } from "../js/main"
			animateLoading()
		</script>
		<!-- Google Tag Manager (noscript) -->
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-PL6P7J9"
				height="0"
				width="0"
				style="display:none;visibility:hidden"></iframe></noscript
		>
		<!-- End Google Tag Manager (noscript) -->
		<script>
			window.axeptioSettings = {
				clientId: "5bed7af30e6447126c493e97",
				cookiesVersion: "hub-fr",
			}
			;(function (d, s) {
				var t = d.getElementsByTagName(s)[0],
					e = d.createElement(s)
				e.async = true
				e.src = "//static.axept.io/sdk.js"
				t.parentNode.insertBefore(e, t)
			})(document, "script")
		</script>
	</body>
</html>
