---
import MainHead from "./MainHead.astro"
import "../styles/global.css"
import { Navbar, Footer } from "../components/"

const { title, description } = Astro.props
---

<html lang="en">
	<MainHead {title} {description} />
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-PL6P7J9"
				height="0"
				width="0"
				style="display:none;visibility:hidden"></iframe></noscript
		>
		<!-- End Google Tag Manager (noscript) -->
		<Navbar />
		<slot />
		<Footer />
		<script>
			import { animateLoading } from "../js/main"
			animateLoading()
		</script>
		<!-- Google Tag Manager -->
		<script>
			;(function (w, d, s, l, i) {
				w[l] = w[l] || []
				w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" })
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != "dataLayer" ? "&l=" + l : ""
				j.async = true
				j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl
				f.parentNode.insertBefore(j, f)
			})(window, document, "script", "dataLayer", "GTM-PL6P7J9")
		</script>
		<!-- End Google Tag Manager -->
		<script>
			window.axeptioSettings = {
				clientId: "5bed7af30e6447126c493e97",
				cookiesVersion: "hub-fr",
			}
			;(function (d, s) {
				var t = d.getElementsByTagName(s)[0],
					e = d.createElement(s)
				e.async = true
				e.src = "//static.axept.io/sdk.js"
				t.parentNode.insertBefore(e, t)
			})(document, "script")
		</script>
	</body>
</html>
